html {
  font-size: 16px;
}

body {
  @media only screen and (max-width: 767px) {
    font-size: rem(14);
  }
  font-family: 'raleway-my', 'raleway-my Fallback', sans-serif;

  color: var(--color-text);
  line-height: 1.4;

  min-width: 320px;

  overflow-x: clip;
  background-image: url('../img/bg.webp');
  background-size: 50px;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'outfit-my', 'outfit-my Fallback', sans-serif;
  margin-top: 0;
}

.container{
  padding: 0 7vw;
}

// чтобы не лагало
/* will-change */
.content, .hero, .main-header, .gallery > div {
  will-change: transform;
}