html {
  font-size: 16px;
}

body {
  @media only screen and (max-width: 767px) {
    font-size: rem(14);
  }
  font-family: 'raleway-my', 'raleway-my Fallback', sans-serif;

  color: var(--color-text);
  line-height: 1.4;

  min-width: 320px;

  overflow-x: clip;
  background-image: url('../img/bg.webp');
  background-size: 50px;

  // scrollbar
  $scrollbarWidth: 5px;
  $scrollbarBg: #1E1E1E;
  $scrollbarThumb: rgba(90, 90, 90, 0.8);
  scrollbar-width: $scrollbarWidth;
  scrollbar-color: $scrollbarThumb $scrollbarBg;
  &::-webkit-scrollbar {
    width: $scrollbarWidth;
  }
  &::-webkit-scrollbar-track {
    background: $scrollbarBg;
  }
  &::-webkit-scrollbar-thumb {
    background: $scrollbarThumb;
    border-radius: 10px;
  }

}

h1, h2, h3, h4, h5, h6 {
  font-family: 'outfit-my', 'outfit-my Fallback', sans-serif;
  margin-top: 0;
}

.img-fluid {
  max-width: 100%;
  height: auto;
}

.container{
  padding: 0 7vw;
}

// чтобы не лагало
/* will-change */
.content, .hero, .main-header, .gallery > div {
  will-change: transform;
}