.hero{
  width: calc(var(--index) * 36);
  position: absolute;
  left: 37vw;
  top: 22vh;
  z-index: -1;
  @media only screen and (max-width: 575px) {
    top: 30px;
    left: auto;
    right: 0;
  }
}

.main-header{
  height: 100vh;
}

.main-title{
  font-size: calc(var(--index) * 8);
  position: absolute;
  width: min-content;
  bottom: 12vh;
  margin-bottom: 0;
  @media only screen and (max-width: 575px) {
    bottom: 80px;
  }
  line-height: .9;
  color: #fafafa;
}